<div class="wrapper">
  <div class="sidebar" data-background-color="white" data-active-color="danger">
  <div class="sidebar-wrapper">
    <div>
      <img src="assets/images/logo.png" alt="logo" style="padding-top:10px" />
    </div>

    <ul class="nav">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a routerLink="/dashboard" >
              <i class="fa fa-dashboard fa-lg"></i> Dashboard
            </a>
          </li>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a routerLink="/role" >
          <i class="fa fa-lock fa-lg"></i> Role
        </a>
      </li>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a routerLink="/user" >
          <i class="ti-user"></i> Users
        </a>
      </li>

      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a routerLink="/department" >
          <i class="fa fa-sitemap fa-lg"></i> Department
        </a>
      </li>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a routerLink="/employee" >
          <i class="fa fa-user fa-lg"></i> Employee
        </a>
      </li>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a routerLink="/visitor" >
          <i class="fa fa-address-card-o fa-lg"></i> Visitor
        </a>
      </li>
    </ul>
  </div>   
</div> <!-- Sidebar  end -->
</div> <!-- wrapper end -->
