<div class="wrapper">
  <div class="sidebar" data-background-color="white" data-active-color="danger">
  <div class="sidebar-wrapper">
    <div>
      <img src="assets/images/logo.png" alt="logo" style="padding-top:10px" />
    </div>

    <ul class="nav">
        <li class=active>
            <a routerLink="/dashboard">
              <i class="ti-panel"></i> Dashboard
            </a>
          </li>
      <li>
        <a routerLink="/role">
          <i class="fa fa-users fa-lg"></i> Role
        </a>
      </li>
      <li>
        <a routerLink="/user">
          <i class="ti-user"></i> Users
        </a>
      </li>

      <li>
        <a routerLink="/department">
          <i class="fa fa-users fa-lg"></i> Department
        </a>
      </li>
      <li>
        <a routerLink="/employee">
          <i class="fa fa-user fa-lg"></i> Employee
        </a>
      </li>
      <li>
        <a routerLink="/visitor">
          <i class="fa fa-users fa-lg"></i> Visitor
        </a>
      </li>
    </ul>
  </div>   
</div> <!-- Sidebar  end -->
</div> <!-- wrapper end -->


