<with-navbar></with-navbar>
<header-main></header-main>
<div class="container" style="padding-left:45px;">
  <form id="employeelist-form" class="form">
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="header">
                <h4 class="title">Employee List</h4>
                <p class="category">List of all employees.</p>
              </div>
              <div class="">
                <div class="col-xs-8 col-sm-6 col-md-6">
                  <div class="form-group">
                    <input type="text" id="txtsearch" class="form-control border-input" placeholder="Search" 
                    [(ngModel)]="employeeSearch.text" #text="ngModel" name="text">
                  </div>
                </div>
                <div class="col-xs-4 col-sm-6 col-md-6">
                  <div class="form-group">
                    <input type="submit" value="Search" class="btn btn-info btn-fill btn-wd" (click)="searchEmployee()" > &nbsp;
                    <input type="submit" value="Add New" class="btn btn-info   btn-outline-primary btn-wd" routerLink="addemployee">
                  </div> 
                </div>
              </div>
              <div class="content table-responsive table-full-width">
                <table class="table table-hover employee-table">
                  <thead>
                    <th>Employee Code</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Mobile</th>
                    <th>Email</th>
                    <th>Department</th>
                    <th>Action</th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let emplist of employeeList|paginate: pager">
                      <td>{{emplist.empCode}}</td>
                      <td>{{emplist.firstName}}</td>
                      <td>{{emplist.lastName}}</td>
                      <td>{{emplist.cell}}</td>
                      <td>{{emplist.email}}</td>    
                      <td>{{emplist.department.name}}</td>   
                      <td><button class="btn"><a [routerLink]="['edit',emplist.id]" style="cursor:pointer;"><i class="fa fa-edit" aria-hidden="true"></i></a></button></td>  
                    </tr>
                  </tbody>
                </table>
                <pagination-controls (pageChange)="pageChange($event)" class="my-pagination"></pagination-controls>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>