<with-navbar></with-navbar>
 
<div class="container" style="padding-left:45px;">


  <div class="panel-heading">
    <h3 class="panel-title;text-align:center">Visitor Details</h3>
  </div>

  <button class="btn" (click)="routeToList()">Back</button>
  <div class="panel panel-flat">
    <div class="panel-body">
      <div class="row form-group">
        <label class="col-lg-2">Contact Number</label>
        <div class="col-lg-4 ">
          <label class="col-lg-2">{{visitor.contactNumber}}</label>
        </div>
        <label class="col-lg-2 "><b>Email:</b> </label>
        <div class="col-lg-4 ">
          <label class="col-lg-2">{{visitor.email}}</label>
        </div>
      </div>
      <div class="row form-group">
        <label class="col-lg-2"><b>First Name</b></label>
        <div class="col-lg-4 ">
          <label class="col-lg-2">{{visitor.firstName}}</label>
        </div>
        <label class="col-lg-2"><b>Last Name:</b></label>
        <div class="col-lg-4 ">
          <label class="col-lg-2">{{visitor.lastName}}</label>
        </div>
      </div>

      <div class="row form-group">
        <label class="col-lg-2 "><b>Country</b></label>
        <div class="col-lg-4 ">
          <label class="col-lg-2">{{visitor.country.name}}</label>
        </div>

        <label class="col-lg-2"><b>State:</b> </label>
        <div class="col-lg-4 ">
          <label class="col-lg-2">{{visitor.state.name}}</label>
        </div>
      </div>
      <div class="row form-group">
        <label class="col-lg-2"><b>Address</b> </label>
        <div class="col-lg-4 ">
          <label class="col-lg-2">{{visitor.address}}</label>
        </div>
        <label class="col-lg-2"><b>Zip Code:</b> </label>
        <div class="col-lg-4 ">
          <label class="col-lg-2">{{visitor.zipCode}}</label>
        </div>
      </div>
      <div class="row form-group">
        <label class="col-lg-2"><b>Department:</b> </label>
        <div class="col-lg-4 ">
          <label class="col-lg-2">{{visitor.department.name}}</label>
        </div>
        <label class="col-lg-2"><b>To Meet:</b></label>
        <div class="col-lg-4 ">
          <label class="col-lg-2">{{visitor.toMeet.name}}</label>
        </div>
      </div>
    </div>
    <div class="row form-group">


      <label class="col-lg-2"><b>Identity Number:</b> </label>
      <div class="col-lg-4 ">
        <label class="col-lg-2">{{visitor.identityNumber}}</label>
      </div>
      <label class="col-lg-2"><b>Photo Identity Type:</b> </label>
      <div class="col-lg-4 ">
        <label class="col-lg-2">{{visitor.photoIdType.name}}</label>
      </div>
    </div>

    <div class="row form-group">
      <label class="col-lg-2"><b>Location:</b> </label>
      <div class="col-lg-4 ">
        <label class="col-lg-2">{{visitor.location.name}}</label>
      </div>
    </div>

    <div class="row form-group">
      <label class="col-lg-2"><b>Purpose</b> <span style="color:red">*</span></label>
      <div class="col-lg-4 ">
        <label class="col-lg-2">{{visitor.purpose}}</label>

      </div>
      <label class="col-lg-2 "><b>comments:</b> </label>
      <div class="col-lg-4 ">
        <label class="col-lg-2">{{visitor.comment}}</label>
      </div>
    </div>
    <div class="row form-group">
        <label class="col-lg-2"><b>CheckIn</b></label>
        <div class="col-lg-4 ">
          <label class="col-lg-2">{{visitor.checkIn |date:'MM/dd/yyyy @ h:mma'}}</label>
  
        </div>
        <label class="col-lg-2 "><b>CheckOut:</b> </label>
        <div class="col-lg-4 ">
          <label class="col-lg-2">{{visitor.checkOut |date:'MM/dd/yyyy @ h:mma' }}</label>
        </div>
      </div>
  </div>
</div>
 