<with-navbar></with-navbar>
<header-main></header-main>
<div class="container" style="padding-left:45px;">
  <form id="departmentlist-form" class="form">
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="header">
                <h4 class="title">Department List</h4>
                <p class="category">List of all departments.</p>
              </div>
              <div class="">
                <div class="col-xs-8 col-sm-6 col-md-6">
                  <div class="form-group">
                    <input type="text" class="form-control border-input" placeholder="Search"
                      [(ngModel)]="deptsearch.text" #text="ngModel" name="text">
                  </div>
                </div>
                <div class="col-xs-4 col-sm-6 col-md-6">
                  <div class="form-group">
                    <input type="submit" value="Search" class="btn btn-info btn-fill btn-wd"
                      (click)="searchDepartment()">
                  </div>
                </div>
              </div>
              <div class="content table-responsive table-full-width">
                <table class="table table-hover department-table">
                  <thead>
                    <th>Code </th>  
                    <th>Name</th>
                                                        
                  </thead>
                  <tbody>
                    <tr *ngFor="let dempList of departmentList">
                     <td>{{dempList.code}}</td>  
                      <td>{{dempList.name}}</td>
                                         
                    </tr>
                 
                </tbody>
              </table>
              <pagination-controls (pageChange)="pageChange($event)" class="my-pagination"></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
</div>