<div *ngIf=isAdmin>
	<with-navbar></with-navbar>
  </div>
  <div *ngIf=!isAdmin>
	<gaurd-navbar></gaurd-navbar>
  </div>
<header-main></header-main>
<div class="container" style="padding-left:45px;">
<div class="width=300; height=200">
<webcam (imageCapture)="handleImage($event)" [trigger]="triggerObservable"></webcam>
<br/>
</div>
<button class="actionBtn" (click)="triggerSnapshot();">Take A Snapshot</button>
<br/>
<button class="actionBtn" (click)="next();">Next</button>

<div>
	<img [src]="webcamImage.imageAsDataUrl" />
</div>
</div>